<!-- <div class="register-container">
  <h2>Register Admin </h2>
  <form (submit)="registerAdmin()">
    <div class="input-group">
      <label for="name">Name</label>
      <input type="text" id="name" [(ngModel)]="adminData.name" name="name" required />
    </div>
 
    <div class="input-group">
      <label for="mobileNo">Mobile No</label>
      <input type="text" id="mobileNo" [(ngModel)]="adminData.mobileNo" name="mobileNo" required />
    </div>
 
    <div class="input-group">
      <label for="username">Username</label>
      <input type="text" id="username" [(ngModel)]="adminData.username" name="username" required />
    </div>
 
    <div class="input-group">
      <label for="password">Password</label>
      <input type="password" id="password" [(ngModel)]="adminData.password" name="password" required />
    </div>
 
    <div class="input-group">
      <label for="email">Email</label>
      <input type="email" id="email" [(ngModel)]="adminData.email" name="email" required />
    </div>
 
    <div class="input-group">
      <label for="area">Area</label>
      <input type="text" id="area" [(ngModel)]="adminData.area" name="area" required />
    </div>
 
    <div class="input-group">
      <label for="city">City</label>
      <input type="text" id="city" [(ngModel)]="adminData.city" name="city" required />
    </div>
 
    <div class="input-group">
      <label for="profilePicture">Profile Picture</label>
      <input type="file" id="profilePicture" (change)="onFileSelected($event)" required />
    </div>
 
    <button type="submit" class="register-btn">Register</button>
  </form>
</div>
 
  -->



  